---
layout: default
---
<article class="page__section page__section-last">
    <header class="post__header">
        <h1 class="post__title">
            {{ page.title }}
        </h1>
        <p class="post__meta">
            posted on
            {{ page.date | date: "%b %-d, %Y"}}
        </p>
        {% if page.featured_image %}
            <div class="post__image">
                <img src="{{ site.baseurl }}/{{ page.featured_image }}" alt="{{ page.title }} featured image">
            </div>
        {% endif %}
    </header>

    <div class="post__body">
        {{ content }}
    </div>
</article>